.FlexProduct {
  margin-top: 30px;
  margin-bottom: 75px;
  width: 300px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.FlexProduct button:hover {
  background-color: var(--deepbrown) !important;
}

.FlexProduct__row {
  width: calc(100% - 10px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.FlexProduct__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.FlexProduct h2 {
  font-size: 25px;
  margin: 20px 0;
}

.FlexProduct h3 {
  font-size: 15px;
  width: 100%;
  text-align: left;
}

.FlexImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lightbrown);
  border-radius: 10px;
  ;
}

.FlexLabel {
  width: 100%;
  min-height: 30px;
  max-width: 80%;
  display: flex;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

a:hover {
  cursor: pointer;
}

.FlexImage img {
  width: 30%;
  height: 25%;
  object-fit: contain;
  padding-bottom: 50px;
  max-width: 100%;
}

.FlexProduct img:hover {
  background-color: transparent;
  transform: scale(1.25);
  transition: 1s all ease-in-out;
}

@media (max-width: 600px) {
  .FlexProduct {
    margin: 20px 0;
  }
}